@charset "utf-8";
/* 위고 출판사 info 페이지 CSS - info.css */

/* 기본 CSS 불러오기 */
@import url(./main.css);

/* ***************************************************************** */

/* Info 메인 콘텐츠 */

body {
  margin: 0;
  overflow-x: hidden;
}

.main-cont {
  display: flex;
  padding: 5vh;
  background: url(../../02.구현디자인/05.스킨/info_bg.png) no-repeat center/cover;
}
@media (max-width: 1080px) {
  .main-cont {
    flex-direction: column;
    align-items: center;
    
  padding: 3vw;
  }
  
}
/* 2. 메인영역 */
/* 메인 배너 전체 박스 */

/* .info-logo img 를 info-bn img 위에 겹쳐서 올리기 */
.info-logo {
  /* position: absolute;
  top: 0;
   */width: 60%;
  height: 129%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* info-text 박스를 info-logo img 옆에 배치하기 */
.info-text {
  /* position: absolute;
  top: 40%;
  left: 47%; */
  color: #000000;
  padding: 3vh;
}
.info-text h3 {
  font-size: 25px;
}
.info-text p {
  font-size: 16px;
  font-family: none;
}
